registry=https://registry.npmmirror.com/
fetch-retry-maxtimeout=600000
fetch-retry-mintimeout=30000
fetch-timeout=600000

# Accelerate sharp/libvips downloads
sharp_dist_base_url=https://npmmirror.com/mirrors/sharp-libvips
sharp_binary_host=https://npmmirror.com/mirrors/sharp

# Prefer legacy peer deps to avoid strict peer conflicts in monorepo
legacy-peer-deps=true
optional=false